{
  "singleQuote": true,
  "printWidth": 100,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
